<h1>Editing Sub</h1><br><br>

<form class="" action="<%=edit_sub_url%>" method="post">
  <%= auth_token %>
  <label>Title</label>
  <input type="text" name="sub[title]" value="<%=@thread.title%>">

  <label>Description</label>
  <input type="text" name="sub[description]" value="<%=@thread.description%>">

  <input type="submit" name="" value="edit sub">
</form>
