<h1>New post!</h1>
<br><br>


<form class="" action="<%=posts_url%>" method="post">
  <%= auth_token %>
  <label>Title</label>
  <input type="text" name="post[title]" value="">
  <label>Content</label>
  <input type="text" name="post[content]" value="">
  <label>url</label>
  <input type="text" name="post[url]" value="">


  <input type="submit" name="" value="create post">
</form>
